body {
    margin: 0;
    padding-top: 80px; /* Ajuste la hauteur selon la taille de ton header */
}

/* Flexbox pour l'ensemble du header */
#header {
    position: fixed; /* Rendre le header fixe */
    top: 0;          /* Garde le header en haut de la page */
    left: 0;         /* Aligne le header à gauche */
    width: 95vw;     /* Occupe toute la largeur de la page */
    display: flex;   /* Active Flexbox pour le layout */
    justify-content: space-between; /* Espace entre le titre et les liens */
    align-items: center;  /* Centrage vertical des éléments */
    padding: 27px 5% 27px 3%; /* Seulement 10px de padding à gauche */
    background-color: #000000;  /* Couleur de fond noire */
    z-index: 1000;     /* Assure que le header reste au-dessus du contenu */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre subtile pour un effet de profondeur */
}

/* Title styling */
.title {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;    /* Remove underline */
    color: #ffffff;          /* Text color */
    background-color: #000000;
    transition: color 0.3s ease, background-color 0.3s ease; /* Transition de la couleur du texte et du fond */
    font-family: sans-serif;
}

/* Hover effect for the title */
.title:hover {
    color: #0004ff;           /* Nouvelle couleur du texte (par exemple, bleu clair) */
}

/* Liste de liens */
.top-links {
    display: flex;            /* Flex layout pour les liens */
    gap: 20px;                /* Espace entre chaque lien */
    list-style: none;         /* Supprime les puces de la liste */
    margin: 0;                /* Enlève les marges par défaut */
    padding: 0;               /* Enlève les espacements internes par défaut */
}

/* Styling des liens */
.nav-link {
    text-decoration: none;    /* Remove underline */
    color: #ffffff;           /* Text color */
    font-size: 20px;          /* Adjust font size */
    background-color: #000000;
}

/* Hover effect pour les liens */
.nav-link:hover {
    color: #007bff;           /* Change text color on hover */
}
