/* Forcer le rechargement */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about {
    margin-top: 5%;
    font-size: 22px;
    text-align: left;
    
}

.cifar {
    margin-bottom: 5%;
    font-size: 22px;
    text-align: left;

}
h1 {
    color: #333;
    text-align: center;
}

.large-form {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.large-form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: large;
}

.large-form button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}

.large-form button:hover {
    background-color: #2980b9;
}


footer {
    text-align: left;  /* Aligne le texte à droite */
    margin-top: 10%;  /* Ajoute un espace au-dessus du footer */
    font-size: 16px;    /* Taille de police pour le footer */
    color: #555;        /* Couleur du texte */
}

a {
    color: #007BFF; /* Couleur du lien */
    text-decoration: none; /* Enlève le soulignement */
    margin-right: 10px; /* Ajoute un espace de 10 pixels autour du lien */
}

a:hover {
    text-decoration: underline; /* Souligne le lien au survol */
    color: #0051ff;
}

