<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cifar10 MrSplatchy</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles-header.css">
    <link rel="stylesheet" href="/static/styles-cifar10.css"> <!-- Paramètre de version pour cache -->
</head>

<header>

    <nav id="header">
        <a href="/" class="title">Splatchy's Projects</a>
            <div class="top-links">
                <a href="/about" class="nav-link">About Us</a>
                <a href="/" class="nav-link">Home</a>
    </nav>
</header>
<body>  
    <main>
        <h1>Upload an Image for Classification</h1>
        <form class="button-center" action="/cifar10/predict" method="post" enctype="multipart/form-data">
            <input type="file" name="image" required>
            <button type="submit">Predict</button>
        </form>

        <section class="about">
            <p id="desc">
                This is a simple image classifier using a pre-trained model on the CIFAR-10 dataset.<br>
                You can upload an image and see the predicted class.<br>
                It can recognize 10 objet/animal such as:<br><br>
                Airplane, Automobile, Bird, Cat, Deer, Dog, Frog, Horse, Ship, Truck
            </p>
            <p id="desc"><strong>pls Note that this is a simple model and may not always be accurate (It's trash). -Splatchy</strong></p>

        </section>

 
    
    </main>
    <footer>
        <p>© 2024 Image Classifier</p>
        <nav>
            <a href="https://github.com/MrSplatchy/Project-API" target="_blank">Source Code</a>
            <a href="https://www.youtube.com/@Mr.Splatchy" target="_blank">My Channel</a>
        </nav>
    </footer>
    
 
    <!-- Script pour afficher un message d'erreur si le serveur envoie un paramètre "error" -->
</body>
</html>
