<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Splatchy's Project</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles-header.css"> <!-- Paramètre de version pour cache -->
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <nav id="header">
            <a href="/" class="title">Splatchy's Projects</a>
            <ul class="top-links">
                <li><a href="/about" class="nav-link">About Us</a></li>
                <li><a href="/" class="nav-link">Home</a></li>
            </ul>
        </nav>
    </header>
    
    <!-- Contenu de la page -->
    <main>
        <h1>Welcome to my Projects</h1>

        <p class="overview">Idk wat to add here, continue</p>

        <div class="form-container">
            <form class="large-form" action="/cifar10" method="get">
                <h1 class="title-box">Cifar10</h1>
                <p class="description">A trained AI classifying 10 types of images.</p>
                <button type="submit" class="action-btn">Try it now</button>
            </form>

            <form class="large-form" action="/" method="get">
                <h1 class="title-box">new PROJECT Coming soon!</h1>
                <button type="submit" class="action-btn">Idk why u will click here</button>
            </form>
        </div>
    </main>
    <footer>
        <p>© 2024 Image Classifier</p>
        <nav>
            <a href="https://github.com/MrSplatchy/Project-API" target="_blank">Source Code</a>
            <a href="https://www.youtube.com/@Mr.Splatchy" target="_blank">My Channel</a>
        </nav>
    </footer>

</body>

</html>