<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page avec Header Disparaissant</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles-index.css?v=1.0"> <!-- Paramètre de version pour cache -->
</head>
<body>

    <header id="header">
        Ceci est un en-tête
    </header>

    <div class="content">
        <button onclick="toggleHeader()">Masquer/Montrer l'en-tête</button>
        <p>Voici du contenu de la page...</p>
    </div>

<footer>
    <p>© 2024 Image Classifier</p>
    <nav>
        <a href="https://github.com/MrSplatchy/Project-API" target="_blank">Source Code</a>
        <a href="https://www.youtube.com/@Mr.Splatchy" target="_blank">My Channel</a>
    </nav>
</footer>



    <script>
        function toggleHeader() {
            const header = document.getElementById('header');
            header.classList.toggle('hidden');
        }
    </script>


</body>
</html>